body {
    font-family: "Ruslan Display", cursive;
  height: 100%;
  width: 100%;
  background: #000000;

}
.spidy:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

th{
    color: white;
}
td{
    color: white;
}
/* hr{
    background-color:#ffffff;
    border-style: dotted none none;
    width: 90%;
} */
h1:hover{
    color: #DC0000;
    background-color: #474E68;
text-align: center;
}
h4{
    color: #DC0000;
}h3{
    color: #DC0000;
}
img{
    background-color: #FCD2D1;
}
.Chotu{
    background-color: #000000;
}
p{
    color:#474E68;
}
.smile:hover{
    background-color: black;
    
}
label{
    color: white;
}